<div id="selection" class="table-cell select-notice round-bottom-left round-top-left hand-cursor top-padded-tiny bottom-padded-tiny" data-toggle="tooltip" data-placement="bottom" title="Push to select/deselect for deletion"></div>
<div id="message" class="table-cell msg-preview-container round-bottom-right round-top-right hand-cursor top-padded-tiny bottom-padded-tiny"  data-toggle="tooltip" data-placement="right" title="Push to view the message.">
	<div class="padded-tiny msg-preview">
		<div class="h4">{{title}}</div>
		<div>{{date}}</div>
	</div>
</div>
