<div class="max-width">
	<div class="glyphicon glyphicon-search" data-toggle="tooltip" data-placement="bottom" title="Open the search page."></div>
	<div sytle="display: inline" class="pull-right">
		<div id='selectAll' class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="bottom" title="Select all messages on the page."></div>
		<div id='newMessage' class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title="Add new message."></div>
		<div class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Remove all selected messages."></div>
	</div>
</div>
<div class="msgPreviewList table-padded-rows"></div>
