<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h5>Dataset Import</h5>
		</div>
		<div class="modal-body">
			<input type="text" id="dataset"/><br />
			<input type="file" id="uploadFiles" multiple style="display: none;"/>
			<button id="browseButton" class="btn btn-default">Browse</button><br />
			<div class="form-group">
				<textarea id="uploadList" class="textarea-full"></textarea>
			</div>
		</div>
		<div class="modal-footer">
			<button id="uploadButton" type="button" data-dismiss="modal" class="btn btn-primary">Upload</button>
		</div>
	</div>
</div>
